*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'montserrat';
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100vh;
    /* yukseklik ekranimin tamamini alsin diye vh olarak tanimladik. */
}

.app {
    margin-left: 40vh;
    margin-right: 40vh;
    display: flex;
    flex-direction: column;
    /* ki alt alta siralasin */
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    /* arkaplani biraz siyah opacity yapiyoruz (.) onemli */
    height: 100vh;
    /* butun yuksekligi alsin istiyoruz yine */

}

.header{
    padding: 150px 20px 30px 20px;

}

.header h1{
    font-size:50px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0,0,0,.9);
}

.header input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    /* border ve outline i sifirlayarak cizgilerden kurtulduk */
    border-bottom: 2px solid #fbb034 ;
    /* icine vri girilecegini belirttik  */
    text-align: center;
    font-size: 20px;
    color: rgb(233, 237, 113);


}



.content{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0,0,0,.8);

}

.temp{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 5px rgba(0,0,0,1);;
}

.desc{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 3px rgba(0,0,0,.8);
    margin-bottom: 10px;



}

.minmax{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,.8);


}